@charset "utf-8";
//引入公共样式表
@import "common";
body {
    .engine {
        font-size: 0px;
        background: #fbfaf7;
        //假高度
        .container {
            padding-bottom: 118px;
            background: #fbfaf7;
            background-image: url(../img/index/enginebgr.png);
            background-repeat: no-repeat;
            background-position: 100% calc(100% - 40px);
            >.row {
                >h2 {
                    margin-top: 106px;
                    margin-bottom: 33px;
                    font-size: 48px;
                    color: #0078d7;
                }
                >p {
                    margin-bottom: 33px;
                    font-size: 30px;
                    color: #666666;
                }
                >.col-md-8 {
                    >.row {
                        >.col-md-6 {
                            >.col-md-3 {
                                font-size: 0px;
                                line-height: 64px;
                                text-align: center;
                                padding: 0px;
                                border-radius: 5px;
                                width: 64px;
                                height: 64px;
                                background: #0078d7;
                            }
                            >.col-md-9 {
                                padding: 0 0 0 15px;
                                h1 {
                                    margin-top: 0px;
                                    font-size: 20px;
                                    color: #333333;
                                }
                                p {
                                    font-size: 14px;
                                    color: #666666;
                                    width: 100%;
                                    margin-bottom: 46px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//advantage 优势--
.advantage {
    background: #ffffff;
    >.container {
        padding-bottom: 89px;
        >.a1 {
            .col-md-7 {
                padding: 0px;
                h1 {
                    font-weight: 600;
                    margin-top: 114px;
                    margin-bottom: 44px;
                    font-size: 48px;
                    color: #8fc31f;
                }
            }
        }
        >.a2 {
            background-image: url(../img/index/advantagebgr.png);
            background-repeat: no-repeat;
            background-position-x: 0;
            background-position-y: 100%;
            >.col-md-7 {
                >div:first-child {
                    float: left;
                    width: 54px;
                    height: 54px;
                    background: #8fc31f;
                    border-radius: 50%;
                    line-height: 54px;
                    padding: 0px;
                    text-align: center;
                }
                >div:nth-child(2) {
                    font-size: 14px;
                    line-height: 54px;
                    float: left;
                    p {
                        color: #666666;
                        margin-left: 10px;
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}

//产品家族
.product {
    background: #0079d7;
    >.container {
        padding-bottom: 81px;
        >.p1 {
            >.col-md-12 {
                text-align: center;
                >h1 {
                    margin-top: 110px;
                    margin-bottom: 70px;
                    color: #fffefe;
                    font-size: 48px;
                }
            }
        }
        >.p2 {
            >.col-md-6 {
                >.col-md-4 {
                    padding-top: 15px;
                }
                >.col-md-8 {
                    color: #fffefe;
                    >h1 {
                        margin: 0;
                        font-size: 33px;
                    }
                    >p {
                        font-size: 14px;
                        margin-bottom: 65px;
                    }
                }
            }
        }
    }
}

//game 游戏
//视频按照窗口填充
video {
    object-fit: fill;
}

.game {
    background: #ffffff;
    font-size: 0px;
    padding-top: 86px;
    padding-bottom: 44px;
    >.container {
        >.g1 {
            margin-bottom: 45px;
            padding-top: 3px;
            >.col-md-8 {
                color: #2a2a2a;
                h1 {
                    margin-top: 0px;
                    font-size: 34px;
                }
            }
            >.col-md-4 {
                text-align: right;
                a {
                    font-size: 14px;
                    color: #2a2a2a;
                }
            }
        }
        >.g2 {
            margin-bottom: 50px;
            >.col-md-5 {
                video {
                    border-radius: 5px;
                }
            }
            >.col-md-7 {
                text-align: center;
                font-size: 14px;
            }
        }
    }
}

//合作伙伴
.partner {
    padding-top: 40px;
    padding-bottom: 44px;
    background: #f4f4f4;
    >.container {
        >.p1 {
            >.col-md-12 {
                margin-bottom: 32px;
                >span:first-child {
                    font-size: 30px;
                    color: #2a2a2a;
                }
                >span:nth-child(2) {
                    color: #818181;
                    font-size: 11px;
                }
            }
        }
        >.p2 {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            >div {
                border-radius: 5px;
                line-height: 64px;
                width: 148px;
                height: 64px;
                background: #ffffff;
            }
        }
    }
}

//底部栏
.bottom-bar {
    padding-top: 35px;
    font-size: 0px;
    color: #8c8d94;
    background: #3b3b3b;
    >.container {
        >.b1 {
            >.col-md-7 {
                a {
                    padding: 5px;
                    color: #8c8d94;
                    font-size: 14px;
                }
                p {
                    font-size: 11px;
                }
            }
            >.col-md-5 {
                text-align: right;
                padding-bottom: 40px;
                >a {
                    margin-left: 20px;
                    padding-bottom: 13px;
                }
                >a>img:nth-child(2) {
                    display: none;
                    position: absolute;
                }
                >a:first-child:hover #qr {
                    right: 77px;
                    bottom: 50px;
                    display: block;
                }
                >a:nth-child(2):hover #qr {
                    right: 20px;
                    bottom: 50px;
                    display: block;
                }
                >a:nth-child(3):hover #qr {
                    right: -40px;
                    bottom: 50px;
                    display: block;
                }
            }
        }
    }
}